<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Fake News Detector App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container2 {
            width: 80%;
            margin: 0 auto;
        }
        h1, h2 {
            color: #2c3e50;
        }
        .code-block {
            background-color: #f4f4f4;
            border-left: 4px solid #2c3e50;
            padding: 10px;
            font-family: "Courier New", Courier, monospace;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/sample_news">SAMPLE NEWS</a></li>
            <li><a href="/about" class="active">ABOUT</a></li>
        </ul>
    </nav>
    <div class="container2">
        <h1>About the Fake News Detector App</h1>

        <h2>Overview</h2>
        <p>Our Fake News Detector app leverages advanced machine learning algorithms to identify and flag false information. Designed to combat misinformation, it provides users with reliable insights to help them discern the authenticity of the news they encounter.</p>

        <h2>Core Features</h2>
        <ul>
            <li><strong>Real-time Analysis</strong>: Instantly analyze news articles and identify potential false information.</li>
            <li><strong>Machine Learning Algorithms</strong>: Utilizes state-of-the-art ML models for high accuracy in detecting fake news.</li>
            <li><strong>User Friendly GUI</strong>: The app's interface is design to give a friendly and clear user experience </li>
            <br/>
        </ul>
        
        <h2>Achievements & Performance</h2>
        <p><strong>Model Performance Metrics</strong>:</p>
        <div class="code-block">
            <pre>
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print(report)
            </pre>
        </div>
        <p>Accuracy: 0.9775080725977062</p>
        <p>Classification Report:</p>
        <pre class="code-block">
              precision    recall  f1-score   support

           0       0.98      0.97      0.98      4697
           1       0.97      0.98      0.98      4284

    accuracy                           0.98      8981
   macro avg       0.98      0.98      0.98      8981
weighted avg       0.98      0.98      0.98      8981
        </pre>
<br/>
        <br/>

        <h2>The Creator</h2>
        <p><strong>Name</strong>: Nathaniel Justice Kojo Mensah</p>
        <p><strong>Background</strong>: Nathaniel Justice Kojo Mensah is a dedicated student improving his skills in Artificial Intelligence and Machine Learning. With a passion for tackling misinformation, Nathaniel developed this app to provide a robust solution for detecting fake news during his internship with <b>BRAINWAVE METRIX</b></b>.</p>
        <p><strong>Vision</strong>: To create a world where accurate information prevails and individuals can trust the news they consume.</p>
        <p><strong>Mission</strong>: To deliver an intuitive and effective tool that empowers users to combat misinformation.</p>
        <p><strong>Contact</strong>: +233 545 352 127</p>
         <p><strong>Email</strong>: nathanieljusticemensah@gmail.com</p>
        <h2>Conclusion</h2>
        <p>Our Fake News Detector app excels in real-time analysis, accuracy, and user engagement. By continually integrating user feedback, we strive to enhance the app's capabilities and help more users discern truth from falsehood.</p>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Fake News Detector. All rights reserved.</p>
            <p><a href="#license">License</a> | <a href="/license">Terms of Service</a></p>
            <p>nathanieljusticemensah@gmail.com</p>
        </div>
    </footer>
    
</body>
</html>
